<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post">
            <h3 align="center">Join our community!</h3>
            <div class="form-group">
                <label for="email">Your Email</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="abc@email.com" />
                <label for="username">Your Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="abc" />
                <label for="password1">Your Password</label>
                <input type="password" id="password1" name="password1" class="form-control" placeholder="123456" />
                <label for="password2">Confirm Password</label>
                <input type="password" id="password2" name="password2" class="form-control" placeholder="123456" />
                <p>Already have an account? <a href="{{ url_for('auth.login') }}">Log In</a></p>
                <button class="btn btn-outline-dark">Sign Up</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}